/* FONTS */
$main-font: "Montserrat";
$header-font: "Quicksand";

/* FONT WEIGHT */
$normal: 400;
$bold: 700;

/* FONT-SIZE & LINE-HEIGHT*/
$h1-size: 24px/30px;
$h2-size: 19px/23.75px;
$h3-size: 12px/14.63px;
$main-size: 14px/24px;

/* COLORS */
$dark-shade: #1F2041;
$dark-shade75: rgba($dark-shade, .75);
$dark-shade50: rgba($dark-shade, .5);
$dark-shade25: rgba($dark-shade, .25);
$dark-shade5: rgba($dark-shade, .05);
$purple: #BC9CFF;
$green: #6FCF97;
$blue: #8BA4F9; //for gradient


p{
  color:red;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body:not(i){
  font-family: $main-font;
  color: $dark-shade50;
}

html, body {
  height: 100%;
}


.container {
  min-width: 320px;
  max-width: 1920px;
}

/* HEADERS */
h1, h2, h3 {
  font-family: $header-font;
  font-weight: $bold;
}


/* HERO IMAGE */
.bg-img {
  /* image used */
  background-image: url("hero1.png");

  /* Size specified */
  max-width: 100%;
  height:auto;


  /* Positioning */
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
  position: relative;
}

/* HEADER */
.page-header {
  box-shadow: 0px 10px 20px 0px rgba($dark-shade, .05);
}

/* SITE-WIDE NAVIGATION */
.navbar {
  display: inline-flex;
}

/* ul */
.navbar-list {
  list-style: none;
}

/* ul li */
.navbar-list-item {
  display: inline-block;
}

/* li a */
.navbar-list-link {
  text-decoration: none;
  color: inherit;
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* BUTTONS */
/* default */
.btn-default {
  border-radius: 22px;
  text-transform: uppercase;
  border: solid 2px;
}

.btn-default:focus {
  outline: none;
  box-shadow: none;
}

.btn-default:hover {
  opacity: 0.5;
}

/* filled */
.btn-filled{
  background: linear-gradient(180deg, $purple 0%, $blue 100%);
  color: #FFFFFF;
  border-color: transparent;
}

/* outline */
.btn-outline {
  position:relative;
  box-sizing: border-box;

  background-clip: padding-box;
  border: transparent;

  color: $purple;
  background: white;
}

.btn-outline:before {
  content:'';
  position: absolute;
  top:0px; right:0px; bottom:0px; left: 0px;

  background: linear-gradient(180deg, $purple 0%, $blue 100%);

  z-index: -1;
  margin: -2px;
  border-radius: inherit;
}

/* outline hover  */
.btn-outline:hover {
  opacity:1;
}

.btn-outline:hover:before {
  opacity: 0.5;
}

/* button for forms */
.btn-forms {
  width: 320px;
  height:44px;
}

/* CARDS & FORMS */
.card-default {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 380px;
}

label {
  display: block;
}

.input-default {
  display: inline-block;
  height: 44px;
  width: 320px;
}

.input-date {
  min-width: 150px;
  width:50%;
}
