* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:not(i){
  font-family: "Montserrat";
  color: rgba(31, 32, 65, 0.5);
}

html, body {
  height: 100%;
}


.container {
  min-width: 320px;
  max-width: 1920px;
}


/* HERO IMAGE */
.bg-img {
  /* image used */
  background-image: url("hero1.png");

  /* Height specified */
  /* min-height: 900px; */
  height: 50%;

  /* Positioning */
  background-position: center;
  background-repeat: no-repeat;

  /* background-size: contain */
  background-size: cover;
  position: relative;
}


/* SITE-WIDE NAVIGATION */
.navbar {
  box-shadow: 0px 10px 20px 0px #1F2041 5 %;
}

/* ul */
.navbar-list {
  list-style: none;
}

/* ul li */
.navbar-list-item {
  display: inline-block;
}

/* li a */
.navbar-list-link {
  text-decoration: none;
  color: inherit;
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* BUTTONS */
/* default */
.btn-default {
  border-radius: 22px;
  text-transform: uppercase;
  border: solid 2px;
}

.btn-default:focus {
  outline: none;
  box-shadow: none;
}

.btn-default:hover {
  opacity: 0.5;
}

/* filled */
.btn-filled{
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #FFFFFF;
  border-color: transparent;
}

/* outline */
.btn-outline {
  position:relative;
  box-sizing: border-box;

  background-clip: padding-box;
  border: transparent;

  color: #BC9CFF;
  background: white;
}

.btn-outline:before {
  content:'';
  position: absolute;
  top:0px; right:0px; bottom:0px; left: 0px;

  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

  z-index: -1;
  margin: -2px;
  border-radius: inherit;
}

/* outline hover  */
.btn-outline:hover {
  opacity:1;
}

.btn-outline:hover:before {
  opacity: 0.5;
}
